
.main {
    display: flex;
    flex-direction: column;
    height: 95%; 
}


.header {
    padding-top: 5px; 
    padding-bottom: 5px; 
}


.flex {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 95%; 
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1; 
}
