<div class="card">
    <p-toolbar>
        <ng-template #start>
            <img src="logo.png" alt="logo" width="50px" height="50px">
            <p-button icon="pi pi-home" class="mr-2" text severity="secondary" /> <!-- Inicio -->
            <p-button icon="pi pi-shopping-cart" class="mr-2" text severity="secondary" /> <!-- Carrito -->
            <p-splitbutton icon="pi pi-th-large" text severity="secondary" [model]="categorias"> <!-- Categorías -->
            </p-splitbutton>
            <p-button icon="pi pi-file" text severity="secondary" /> <!-- Orden -->
        </ng-template>

        <ng-template #center>
            <p-iconfield iconPosition="left">
                <p-inputicon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Búsqueda" />
            </p-iconfield>
        </ng-template>

        <ng-template #end>
            <p-splitbutton icon="pi pi-user" [model]="perfilItems" /> <!-- Perfil -->
        </ng-template>
    </p-toolbar>
</div>
